<!-- Error 404 Page -->
<div class="container-fluid py-4">
    <div class="row justify-content-center">
      <div class="col-lg-8 text-center">
        <h2 class="h5">Error 404</h2>
      </div>
    </div>
  </div>
  
  <section class="d-flex align-items-center min-vh-100">
    <div class="container text-center">
      <div class="row justify-content-center">
        <div class="col-md-6">
          <div class="p-5 border rounded shadow">
            <h1 class="display-1 fw-bold text-danger">404</h1>
            <h4 class="mb-4">Nope, not here.</h4>
            <a class="btn btn-primary" routerLink="/">
              <i class="fa fa-home me-2"></i> Return to Dashboard
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>