<div class="login-page-container">
  <div class="login-page">
    <div class="login">
      <div class="p-4">
        <h1>Login</h1>
        <p>Sign In to your account</p>
        <form>
          <div class="login__input-group">
            <span class="login__input-group__icon">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="size-6"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M15.75 6a3.75 3.75 0 1 1-7.5 0 3.75 3.75 0 0 1 7.5 0ZM4.501 20.118a7.5 7.5 0 0 1 14.998 0A17.933 17.933 0 0 1 12 21.75c-2.676 0-5.216-.584-7.499-1.632Z"
                />
              </svg> </span
            ><input type="text" name="username" placeholder="Username" />
          </div>
          <div class="login__input-group">
            <span class="login__input-group__icon">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="size-6"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M16.5 10.5V6.75a4.5 4.5 0 1 0-9 0v3.75m-.75 11.25h10.5a2.25 2.25 0 0 0 2.25-2.25v-6.75a2.25 2.25 0 0 0-2.25-2.25H6.75a2.25 2.25 0 0 0-2.25 2.25v6.75a2.25 2.25 0 0 0 2.25 2.25Z"
                />
              </svg> </span
            ><input type="password" name="password" placeholder="Password" />
          </div>
        </form>
        <div class="login__footer">
          <button type="button" class="login__button">Login</button>
          <a href="">Forgot password?</a>
        </div>
      </div>
    </div>
    <div class="sign-up">
      <div class="p-4">
        <h2>Sign Up</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </p>
        <button type="button" routerLink="/register">Register Now!</button>
      </div>
    </div>
  </div>
</div>
